.monaco-workbench .debug-actions-widget {
  position: absolute;
  z-index: 200;
  height: 32px;
  display: flex;
  padding-left: 7px;
}

.monaco-workbench .debug-actions-widget.hidden {
  display: none;
}

.monaco-workbench .debug-actions-widget .drag-area {
  cursor: -webkit-grab;
  height: 32px;
  width: 10px;
  background: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='32' fill='#999'><circle cx='5' cy='11' r='1.2'/><circle cx='10' cy='11' r='1.2'/><circle cx='5' cy='16' r='1.2'/><circle cx='10' cy='16' r='1.2'/><circle cx='5' cy='21' r='1.2'/><circle cx='10' cy='21' r='1.2'/></svg>") 50% no-repeat;
}

.monaco-action-bar {
  text-align: right;
  overflow: hidden;
  white-space: nowrap;
}

.monaco-action-bar .actions-container {
  display: flex;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  justify-content: flex-end;
}

.monaco-action-bar .action-item {
  cursor: pointer;
  display: inline-block;
  transition: transform 50ms ease;
  position: relative;
}

.monaco-action-bar .action-item.hidden {
  display: none;
}

.monaco-action-bar.animated .action-item.active {
  -webkit-transform: scale(1.272019649);
  transform: scale(1.272019649);
}

.monaco-action-bar .action-item.disabled,
.monaco-action-bar .action-item.disabled .debug-action {
  cursor: default;
}

.hc-black .monaco-workbench .debug-actions-widget .debug-action.continue,
.hc-black .monaco-workbench .debug-actions-widget .debug-action.reverse-continue,
.vs-dark .monaco-workbench .debug-actions-widget .debug-action.continue,
.vs-dark .monaco-workbench .debug-actions-widget .debug-action.reverse-continue {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='-3 0 16 16'><path fill='#89D185' d='M1 2v12l8-6-8-6z'/></svg>");
}

.hc-black .monaco-workbench .debug-actions-widget .debug-action.pause,
.vs-dark .monaco-workbench .debug-actions-widget .debug-action.pause {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' height='16' width='16'><path d='M13 13H3V2h10v11z' fill='#1E1E1E'/><path d='M7 12H4V3h3v9zm5-9H9v9h3V3z' fill='#75BEFF'/></svg>");
}

.hc-black .monaco-workbench .debug-actions-widget .debug-action.step-back,
.hc-black .monaco-workbench .debug-actions-widget .debug-action.step-over,
.vs-dark .monaco-workbench .debug-actions-widget .debug-action.step-back,
.vs-dark .monaco-workbench .debug-actions-widget .debug-action.step-over {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'><style>.icon-canvas-transparent{opacity:0;fill:#2d2d30}.icon-vs-out{fill:#2d2d30}.icon-vs-bg{fill:#c5c5c5}.icon-vs-action-blue{fill:#75beff}</style><path class='icon-canvas-transparent' d='M16 16H0V0h16v16z' id='canvas'/><path class='icon-vs-out' d='M8 16c-1.654 0-3-1.346-3-3s1.346-3 3-3 3 1.346 3 3-1.346 3-3 3zm7-6V4.586l-4-4V3.03A6.481 6.481 0 0 0 7.5 2C4.158 2 1.305 4.596 1.004 7.91L.904 9H4.55l.113-.872a2.866 2.866 0 0 1 1.13-1.923L9.587 10H15zM6.106 6A2.852 2.852 0 0 1 7.5 5.637c.51 0 1.02.133 1.466.363h-2.86z' id='outline'/><path class='icon-vs-bg' d='M8 11a2 2 0 1 1-.001 4.001A2 2 0 0 1 8 11z' id='iconBg'/><path class='icon-vs-action-blue' d='M3.67 8H2c.254-2.8 2.637-5 5.5-5 1.86 0 3.504.93 4.5 2.348V3l2 2v4h-4L8 7h3v-.002l.238.002C10.652 5.61 9.102 4.637 7.5 4.637A3.861 3.861 0 0 0 3.67 8z' id='colorAction'/></svg>");
}

.hc-black .monaco-workbench .debug-actions-widget .debug-action.step-into,
.vs-dark .monaco-workbench .debug-actions-widget .debug-action.step-into {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'><style>.icon-canvas-transparent{opacity:0;fill:#2d2d30}.icon-vs-out{fill:#2d2d30}.icon-vs-bg{fill:#c5c5c5}.icon-vs-action-blue{fill:#75beff}</style><path class='icon-canvas-transparent' d='M16 16H0V0h16v16z' id='canvas'/><path class='icon-vs-out' d='M11 13a2.995 2.995 0 0 0-2.624-2.962L12 6.414V1.586l-2 2V1H6v2.586l-2-2v4.828l3.624 3.624A2.995 2.995 0 0 0 5 13c0 1.654 1.346 3 3 3s3-1.346 3-3z' id='outline'/><path class='icon-vs-bg' d='M8 11a2 2 0 1 1-.001 4.001A2 2 0 0 1 8 11z' id='iconBg'/><path class='icon-vs-action-blue' d='M8 9L5 6V4l2 2V2h2v4l2-2v2L8 9z' id='colorAction'/></svg>");
}

.hc-black .monaco-workbench .debug-actions-widget .debug-action.step-out,
.vs-dark .monaco-workbench .debug-actions-widget .debug-action.step-out {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'><style>.icon-canvas-transparent{opacity:0;fill:#2d2d30}.icon-vs-out{fill:#2d2d30}.icon-vs-bg{fill:#c5c5c5}.icon-vs-action-blue{fill:#75beff}</style><path class='icon-canvas-transparent' d='M16 16H0V0h16v16z' id='canvas'/><g id='outline'><path class='icon-vs-out' d='M10 7.414l2 2V4.586l-4-4-4 4v4.828l2-2V10h4z'/><circle class='icon-vs-out' cx='8' cy='13' r='3'/></g><path class='icon-vs-bg' d='M8 11a2 2 0 1 1-.001 4.001A2 2 0 0 1 8 11z' id='iconBg'/><path class='icon-vs-action-blue' d='M11 5v2L9 5v4H7V5L5 7V5l3-3 3 3z' id='colorAction'/></svg>");
}

.hc-black .monaco-workbench .debug-actions-widget .debug-action.restart,
.vs-dark .monaco-workbench .debug-actions-widget .debug-action.restart {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'><path fill='#1E1E1E' d='M9.3 2.1L11.4 0H5.6l-4 4 .8.8-.4.6C1.4 6.5 1 7.7 1 9c0 3.9 3.1 7 7 7s7-3.1 7-7c0-3.4-2.5-6.3-5.7-6.9zM8 12c-1.7 0-3-1.3-3-3 0-.4.1-.8.3-1.2v-.1l.3.3h5.2c.1.3.2.6.2 1 0 1.7-1.3 3-3 3z'/><path fill='#89D185' d='M8 3H7l2-2H6L3 4l3 3h3L7 5h1c2.2 0 4 1.8 4 4s-1.8 4-4 4-4-1.8-4-4c0-.6.1-1.1.4-1.6L2.9 5.9c-.6.9-.9 2-.9 3.1 0 3.3 2.7 6 6 6s6-2.7 6-6-2.7-6-6-6z'/></svg>");
}

.hc-black .monaco-workbench .debug-actions-widget .debug-action.stop,
.vs-dark .monaco-workbench .debug-actions-widget .debug-action.stop {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' height='16' width='16'><path fill='#2D2D30' d='M13 13H3V3h10v10z'/><path fill='#F48771' d='M12 12H4V4h8v8z'/></svg>");
}

.hc-black .monaco-workbench .debug-actions-widget .debug-action.norepeat,
.vs-dark .monaco-workbench .debug-actions-widget .debug-action.norepeat {
  background-size: 12px;
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024' height='16' width='16'><path fill='#FFC107' d='M918.2128548977778 436.9534907733334l0.2863001599999999 2.0041033955555556h78.92353706666665c-0.7316571022222222-5.248844231111111-1.2406363022222222-10.497689600000001-2.163160177777778-15.74653383111111-44.50383985777777-254.33037937777777-272.27188451555554-429.57816604444446-522.1168878933333-411.8593388088889l13.774241564444445 78.63723576888887c207.02715562666666-10.561311857777778 394.33137948444437 135.57924636444443 431.29596927999995 346.9645334755555zM88.99084288000006 569.5742975999998c-31.429445404444444-181.64183381333334 56.97382172444444-356.2533979022222 207.2180224-440.3621569422222v172.32115939555558c0 14.474086400000001 11.483835733333335 26.21241230222222 25.735243093333334 26.212411164444447h25.79886648888889a25.98973326222222 25.98973326222222 0 0 0 25.735244231111107-26.212411164444447V39.21831480888898a25.957922133333334 25.957922133333334 0 0 0-25.735244231111107-26.276034559999996H90.16785578666679a25.98973326222222 25.98973326222222 0 0 0-25.735244231111107 26.276034559999996v26.180600035555553c0 14.53770865777778 11.515646862222221 26.276034559999996 25.735244231111107 26.276034559999996h119.29192334222222c-147.89017258666667 108.2852545422222-230.28112725333332 296.6392479288889-196.5294671644444 491.5781552355555 43.89942727111111 253.6305334044445 268.8680880355555 428.33752974222216 515.5955962311111 410.6823247644444l-13.551562524444444-78.41455672888888c-204.51407189333332 10.497689600000001-389.4960799288889-135.22932394666665-425.9835027911111-345.94657507555553z m685.4672930133333-98.77371221333333a254.48943502222224 254.48943502222224 0 1 0 0 508.9788700444445 254.48943502222224 254.48943502222224 0 0 0 0-508.9788700444445z m134.94302264888887 344.4514497422222l-44.981007928888886 44.981007928888886-89.96201472000001-89.96201585777777-89.96201585777777 89.96201585777777-44.981007928888886-44.981007928888886 89.96201585777777-89.96201472000001-89.96201585777777-89.96201585777777 44.981007928888886-44.981006791111106 89.96201585777777 89.96201472000001 89.96201472000001-89.96201472000001 44.981007928888886 44.981006791111106-89.96201585777777 89.96201585777777 89.96201585777777 89.96201472000001z'></path></svg>");
}

.hc-black .monaco-workbench .debug-actions-widget .debug-action.repeat,
.vs-dark .monaco-workbench .debug-actions-widget .debug-action.repeat {
  background-size: 12px;
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024' height='16' width='16'><path fill='#0ccc88' d='M520.725168 924.081493C311.740421 934.495573 122.696368 789.79072 85.426181 580.49536 53.289648 400.162133 143.626928 226.751147 297.165488 143.2064l0 171.134293c0 14.373547 11.782827 26.047147 26.303147 26.047147l26.333867 0c14.523733 0 26.303147-11.6736 26.303147-26.047147L376.105648 79.88224l0-26.05056c0-14.39744-11.779413-26.047147-26.303147-26.047147l-26.333867 0L86.624261 27.784533c-14.52032 0-26.303147 11.649707-26.303147 26.047147l0 26.05056c0 14.400853 11.779413 26.05056 26.303147 26.05056l121.89696 0C57.395888 213.439147-26.807632 400.510293 7.684101 594.056533c44.847787 251.87328 274.746027 425.403733 526.902613 407.855787L520.725168 924.081493z'></path><path fill='#0ccc88' d='M899.014661 920.32 814.285488 920.32c149.131947-108.47232 231.642453-293.62176 197.198507-485.10976C966.073008 182.596267 733.276848 8.56064 477.962928 26.187093l14.042453 78.025387c211.6096-10.431147 403.012267 134.700373 440.767147 344.603307 34.546347 192.136533-70.87104 376.446293-244.271787 453.18144L688.500741 711.918933c0-14.400853-11.803307-26.05056-26.333867-26.05056l-26.303147 0c-14.547627 0-26.32704 11.649707-26.32704 26.05056l0 234.451627 0 26.057387c0 14.3872 11.779413 26.047147 26.32704 26.047147l26.303147 0 236.847787 0c14.554453 0 26.33728-11.659947 26.33728-26.047147l0-26.057387C925.351941 931.969707 913.565701 920.32 899.014661 920.32z'></path></svg>");
}

.monaco-workbench .debug-actions-widget .monaco-action-bar .action-item>.action-label {
  width: 32px;
  height: 32px;
  margin-right: 0;
  background-size: 16px;
  background-position: 50%;
  background-repeat: no-repeat;
}

.monaco-action-bar .action-item.disabled .action-label,
.monaco-action-bar .action-item.disabled .action-label:hover {
  opacity: .4;
}

.monaco-action-bar .action-item .icon {
  display: inline-block;
}

.monaco-action-bar .action-label {
  font-size: 12px;
  margin-right: .3em;
}
